.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
}

.heroList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.heroOne {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    overflow-y: scroll;
}

.heroPlate {
    width: 300px;
    height: 400px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #645f5f, #0c0404);
    color: #d1d7e0;
    border-radius: 10px;
    border: 2px solid #b7b1b1;
    box-shadow: 0 4px 6px rgb(10, 5, 5, 0.5); /* Adjust the values as needed */
}

.heroPlate:hover {
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% {
        border-color: rgb(223, 161, 80);
    }
    50% {
        border-color: lightgoldenrodyellow; /* Lighter shade of gold */
    }
    100% {
        border-color: rgb(184, 113, 20);
    }
}

.heroPlate h4 {
    margin: 5px;
}

.heroPlate p {
    margin: 5px;
}

.heroPlate a {
    color: #00779a;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.4s ease;
}

.heroPlate a:hover {
    color: #56abd1;
}

.roleIcons {
    width: 40px;
    height: 40px;
}

.heroImage {
    width: 135px;
    height: 240px;
    margin-top: 20px;
    border-radius: 10px;
}

.heroPlate span {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.heroPlate div {
    display: flex;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px dotted gray;
    margin-top: 20%;
    margin-left: 45%;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
