body {
    font-family: var(--font-roboto-mono);
    margin: 0;
    padding: 0;
    background-image: url(../../public/images/bg/mlbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    overflow-y: hidden;
}

header {
    background-color: #040b14;
    color: #faf4f4;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    width: 10%;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

nav a {
    margin: 20px;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #a1a1a1;
}
